.git
.gitignore
.dockerignore

node_modules
dist
build
coverage
.npm
.pnpm-store
.yarn

logs
*.log
tmp
temp
.cache
*.tmp
*.swp
*.swo

screenshots
playwright-report
test-results
*.png
*.jpg
*.jpeg
*.gif

.DS_Store
.idea
.vscode
*.iml
